extends layout

block content
  h1= title
  p Number of connected clients: #{connectedClients.length}
  
  hl
  table
    thead
      tr
        th Spieler 
        th Robo
        th Speed
        th Item
        th Time
      tbody
        for client in connectedClients
          if client.data.type=='app'
            tr
              td #{client.data.name}
              if client.data.selectedRobo!=undefined
                td #{client.data.selectedRobo.data.name}
                td #{client.data.selectedRobo.data.speed}
          else

