extends layout

block content
  h1= title
  p Number of connected clients: #{connectedClients.length}
  
  hl
  table
    thead
      tr
        th Spieler 
        th Robo
        th Speed
        th Item
        th Time
        th Ready
      tbody
        for client in connectedClients
          if client.data.type=='app'
            tr
              td #{client.data.name}
              if client.data.selectedRobo!=undefined
                td #{client.data.selectedRobo.name}
                td #{client.data.selectedRobo.speed}
                td #{client.data.selectedRobo.item}
              else
                td
                td
                td
              td #{client.data.time}
              if client.data.ready=='true'
                td 
                  div.ready
              else
                td
                  div.notready
          else