extends layout

block content
  h1 Otto Mario Kart - http://10.42.0.1:3000

  h3 WLAN: roborace - Passwort: roborace123
  h2 AKTUELLES RENNEN
  table.ingame
    thead
      tr
        th Spieler 
        th Robo
        th Speed
        th Time
        th Ready
      tbody
        for client in connectedClients
          if client.data.type=='app'
            tr
              td #{client.data.name}
              if client.data.selectedRobo!=undefined
                td #{client.data.selectedRobo.name}
                td #{client.data.selectedRobo.speed}
              else
                td
                td
              if client.data.resultTime
                td.finished #{formatTime(client.data.resultTime)}
              else
                td #{formatTime(new Date().getTime() - client.data.startTime)} 
              if client.data.ready=='true'
                td.green
              else if client.data.ready=='waiting'
                td.yellow
              else
                td.red
          else
  h2 BESTENLISTE
  table.result
    thead
      tr
        th #
        th Spieler
        th Robo
        th Time
      tbody
        for results in playerList
          tr
            td #{results.place}
            td #{results.player}
            td #{results.robo}
            td #{results.time}
  a.apk(href='/downloads/app-debug.apk' class='apkdownload text') download app
  a(href='/downloads/app-debug.apk')
    img.qr(src= "/img/qrcode.png" class='apkdownload qr')