extends layout

block content
  h1= title
  p Number of connected clients: #{connectedClients.length}
  
  hl
  table
    thead
      tr
        th Spieler 
        th Robo
        th Speed
        th Item
        th Time
        th Ready
      tbody
        for client in connectedClients
          if client.data.type=='app'
            tr
              td.white #{client.data.name}
              if client.data.selectedRobo!=undefined
                td.silver #{client.data.selectedRobo.name}
                td.white #{client.data.selectedRobo.speed}
                td.silver #{client.data.selectedRobo.item}
              else
                td.silver
                td.white
                td.silver
              td.white #{client.data.time}
              if client.data.ready=='true'
                td.green
              else
                td.red
          else