extends layout

block content
  h1= title
  p Number of connected clients: #{connectedClients.length}
  
  hl
  table.ingame
    thead
      tr
        th Spieler 
        th Robo
        th Speed
        th Time
        th Ready
      tbody
        for client in connectedClients
          if client.data.type=='app'
            tr
              td.white #{client.data.name}
              if client.data.selectedRobo!=undefined
                td.silver #{client.data.selectedRobo.name}
                td.white #{client.data.selectedRobo.speed}
              else
                td.silver
                td.white
              td.silver #{client.data.resultTime} sec
              if client.data.ready=='true'
                td.green
              else if client.data.ready=='waiting'
                td.yellow
              else
                td.red
          else
  table.result
    thead
      tr
        th Spieler
        th Robo
        th Time
      tbody
        for player in playerList
          tr
            td.white #{player.name}
            td.silver #{player.robo}
            td.white #{player.time}
  a(href ='/downloads/app-debug.apk' class='apkdownload') download apk