extends layout

block content
  h1= title
  p Welcome  Number of connected clients: #{connectedClients.length}
  
  hl
  table
    for client in connectedClients
      tr
        td #{client.id}
        td #{client.name}
        td #{client.selectedRobo}
        td #{client.speed}

